.menu {
    display: flex;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
    height:80px;
    align-items: center;
    margin-top:0;
}

.menu__item {
    display:inline-block;
    text-align:center;
    width:150px;
}

a,
a:visited {
    text-decoration: none;
    color:#0097e6;
    transition: all 0.3s;
}

a:hover,
a:focus {
    color:#e84118;
}

.menu__toggle-button {
    display: none;
}

@media screen and (max-width:720px) {
    .menu {
        position:absolute;
        left:-999px;
        transition:0.5s;
        flex-direction: column;
    }
    .menu--toggled {
        visibility: visible;
        left:0;
    }
    .menu__item {
        display:block;
    }
    .menu__toggle-button {
        display: block;
    }
}
