.menu {
    display: flex;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
    align-items: center;
    margin-top:0;
    margin-bottom:0;
    width:100%;
    position:absolute;
    left:-100%;
    transition:0.5s;
    flex-direction: column;
}

.site-navigation {
    position: relative;
    width:100%;
}

.menu--toggled {
    left:0;
}

.menu__item {
    display:inline-block;
    text-align:center;
    height:60px;
    padding:20px;
   
}

a,
a:visited {
    text-decoration: none; 
    color:#004e92;
    transition: all 0.3s;
}

a:hover,
a:focus {
    color:#94002c;
}

.menu__toggle-button {
    z-index: 10;
    position: absolute;
    top:20px;
    right: 20px;
}

@media screen and (min-width:720px) {
    .menu {
        flex-direction: row;
        position:relative;
        left:0;
        z-index: 1;
    }
    .menu__item {
        display:block;
    }
    .menu__toggle-button {
        display: none;
    }
}
