table {
    border:1px solid #bebebe;
    border-radius:10px;
    width:100%;
    border-collapse: collapse;
    margin-bottom:30px;
}

tr {
    border:1px solid #bebebe; 
}

thead {
    background-color:#004e92;
    color:white;
    text-align:center;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color:#f7f7f7;
}
