* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body, html {
  padding:0;
}
body {
  font-size:1.6rem;
}

p {
  margin-top: 0;
}

.App {
  position: relative;
  width:100%;
}


/* * {
  background-color:rgba(0, 0, 0, 0.1)
} */